<!-- Notifications -->
<div gritter={{gritter.notify}} gritter-options="gritter.options" gritter-remove={{gritter.remove}} gritter-remove-all={{gritter.removeAll}} gritter-ids="gritter.ids" gritter-destroy={{gritter.destroy}}>
</div>

<div focus="focus"></div>
<div blocker="blocker"></div>

<div jwerty="HOME" key-event="goto.home()" key-name="goto.home" key-bind="document"></div>
<div jwerty="CTRL+END" key-event="goto.logout()" key-name="goto.logout" key-bind="document"></div>

<div jwerty="F1" key-event="goto.play()" key-name="goto.play" key-bind="document"></div>
<div jwerty="F2" key-event="goto.maker()" key-name="goto.maker" key-bind="document"></div>
<div jwerty="F4" key-event="resetPlays()" key-name="resetPlays" key-bind="document"></div>

<aside class="right-side" ui-view="content">
    <section class="content-header">
        <h1>
            Home
            <small>bingo system</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-home"></i> Home</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content no-outline" tabindex="-1" id="abc">
        <div class="row">

            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Application Shortcuts</h3>
                    </div>
                    <div class="box-body">
                        <a class="btn btn-app" ui-sref="app.play">
                            <span class="badge bg-aqua">F1</span>
                            <i class="fa fa-pencil"></i> Play
                        </a>

                        <a class="btn btn-app" ui-sref="app.maker">
                            <span class="badge bg-aqua">F2</span>
                            <i class="fa fa-legal"></i> Card Maker
                        </a>

                        <a ng-click="resetPlays()" class="btn btn-app">
                            <span class="badge bg-aqua">F4</span>
                            <i class="fa fa-times"></i> Reset Plays
                        </a>
                        
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</aside>

<div ng-repeat="template in templates" ng-include="template"></div>